

<!-- 1. CSS:
    - Copy owl.carousel.css into css/ folder
    - Call it at the end of <head>
-->
<link rel="stylesheet" href="css/modal.css">



<!-- 2. JS:
    - Call jquery
    - Copy owl.carousel.min.js into css/ folder
    - Call it at the end of <body>
-->
<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
<script src="../owl.carousel.min.js"></script>



<!-- 3. Carousel: Copy this code and place in your landing page where needed.  -->
<div class="mw5 mw7-ns center pa3"> <!-- change the classes in this container div to suit your needs -->
    <div class="owl-carousel">
        <div class="relative">
            <img src="http://placehold.it/900x600/F2573F/FFFFFF&text=Slide+1">
        </div>
        <div class="relative">
            <img src="http://placehold.it/900x600/40D6B3/FFFFFF&text=Slide+2">
            <div class="absolute bottom-0 left-0 ph4 pv3 tl"> <!-- captions need to be absolutely aligned to the slide div -->
                <h3>Example Left-Aligned Caption</h3>
                <p>Text here</p>
            </div>
        </div>
        <div class="relative">
            <img src="http://placehold.it/900x600/C45EBE/FFFFFF&text=Slide+3">
            <div class="absolute bottom-0 right-0 ph4 pv3 tr"> <!-- captions need to be absolutely aligned to the slide div -->
                <h3>Example Right-Aligned Caption</h3>
                <p>Text here</p>
            </div>
        </div>
        <div class="relative">
            <img src="http://placehold.it/900x600/CDCDCD/FFFFFF&text=Slide+4">
            <div class="absolute bottom-0 right-0 w-100 ph4 pv3 center tc"> <!-- captions need to be absolutely aligned to the slide div -->
                <h3>Example Center-Aligned Caption</h3>
                <p>Text here</p>
            </div>
        </div>
        <div class="relative">
            <img src="http://placehold.it/900x600/A3A3A3/FFFFFF&text=Slide+5">
        </div>
    </div>
</div>



<!-- 4. Add this code at the end of <body>. Notice the referring Class -->
<script>
    $(document).ready(function(){
      var car = $(".owl-carousel").owlCarousel({
          items:1, // define how many items display at once
          loop:true,
          center:true, // centers items
          margin:10, // define space between each slide
          nav:true, // hide/show forward/backward buttons
            navSpeed: 500, // define nav speed
            navText: [
              "<i class='fa fa-chevron-left fa-lg gray-o6'></i>",
              "<i class='fa fa-chevron-right fa-lg gray-o6'></i>"
            ],
            dots:true, // hide/show nav dots
          autoplay:false, // turn on/off autoplay
            // autoplayHoverPause:true, // pause on hover during autoplay
            // autoplaySpeed: 300, // define autoplay speed
          responsiveClass:false, // define amount of slides that display based on mediaquery breakpoints
          // responsive:{
          //     0:{
          //         items:1,
          //     },
          //     480:{
          //         items:3,
          //     },
          //     960:{
          //         items:5,
          //     }
          // }
      })
    });
</script>
