

<!-- 1. CSS:
    - Copy modal.css into css/ folder
    - Call it at the end of <head>
-->
<link rel="stylesheet" href="css/modal.css">



<!-- 2. JS:
    - Copy modal.js into js/ folder
    - Call it at the end of <body>
-->
<script type="text/javascript" src="js/modal.js"></script>



<!-- 3. Create Modal: Activate button and Modal itself. Place them anywhere in <body> -->

    <!-- Activate button -->
    <button id="myModalBtn" class="pa2 f5 br2 white bg-green hover-bg-dark-green">
        Show Modal
    </button>

    <!-- Modal -->
    <div id="myModal" class="modal dn fixed w-100 h-100 overflow-auto bg-black-40 pa3">
        <div class="modal-content relative w-600px-ns w-100 bg-near-white ba b--silver br2 pa3 center mt4">
        <div class="modal-header w-100 bb b--light-silver">
            <span class="close f4 fr silver fw6 hover-black">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            <h2 class="f5 dark-gray">Title Here</h2>
        </div>
        <div class="modal-body">
            <div class="w-100">
                <!-- Style Modal Content Here -->
                <p>Content of the modal should be here.</p>
            </div>
        </div>
        </div>
    </div>



<!-- 4. Add this code at the end of <body>. Notice the referring IDs -->
<script>
    createModal('#myModalBtn', '#myModal');
</script>
